/* MARK: - Remove toolbar */

a.hLHLjl {
    display: none;
}

div.ba0rn4 {
    display: none;
}

div.ySafaT {
    display: none;
}


/* MARK: - Remove header */

header.nav-flex {
    display: none;
    
}

/* move carosel down*/

.PkqXx3 {
    padding-top: 5%;
}

/* MARK: - Remove footer */
div.navLeftFooter.nav-sprite-v1 {
    display: none;
    
}

/* MARK: - Add footer to prevent bouncy behaivor at bottom of page */



/* MARK: - Make background clear */
div._2RwnU5, dynamic-type-ramp dv-fable-breakpoints VYbJYb yL46mS kK-hEr {
    background-color: transparent;
    
/*    color: #000*/
}

.DWvyeE, html body {
    background-color: transparent;
}

.lGJghq, .lGJghq {
    background: none;
    background-size: 0px 0px;
}

.tixsA- {
    background-color: transparent;
}

/* MARK: - Remove hidden skip link */

a.skip-link {
    display: none;
}

/* MARK: - Adjust episode, related, details button*/
div._3KHiTg.+cUdBP {
    display: none;
}

button.ofo4B0.MH6gd4 {
    display: none;
}

button.ofo4B0 {
    display: none;
}


/* MARK: - Adjust episode row bg and padding*/
._2MB5uV._2MB5uV {
    background-color: rgba(0,0,0, 0.5);
    padding: 24px;
}

/* MARK: - Remove gradient on login under legal buttons*/

/*div.a-row.a-expander-container.a-expander-inline-container {*/
/*    display: none;*/
/*}*/
/**/
/*hr.a-divider-normal {*/
/*    display: none;*/
/*}*/
/**/
/*div.a-section.a-spacing-micro {*/
/*    display: none;*/
/*}*/
/**/
/*div a span {*/
/*    display: none;*/
/*}*/
/**/
/*div.a-divider.a-divider-break {*/
/*    display: none;*/
/*}*/
/**/
/*div.a-divider-inner {*/
/*    background: none;*/
/*}*/
